.MuiMobileStepper-dot.MuiMobileStepper-dotActive{
    background-color: #ff2058 !important;
}
.MuiMobileStepper-dot{
    background-color: #f8cbd6 !important;
}
.img{
    margin: auto;
}
.makeStyles-root-982{
    margin: 0 !important;
}